<div class="container">
<h2 class"t"><a href="/">back</a></h2>
<h1 class="test"><%= @book %></h1><br/>
<p>
	<h2>repos</h2>
	<ul>
	<% @repos.each do |r| %>
		<li><a href='/book/<%= @book %>/repo/<%= r %>'><%= r %></a></li>
	<% end %>
	</ul>
</p>
</div>
<div class="container">
<p>
	<h2 class="">template variables</h2>
	<ul>
	<% @vars.sort.each do |v| %>
		<li class=""><strong><%= h v[0] %></strong>: <p class="tab"> <%= h v[1] %></p></li>
	<% end %>
	</ul>
</p>
</div>
