<h1><%= @book %></h1><br/>
<p>
	<h2>repos</h2>
	<ul>
	<% @repos.each do |r| %>
		<li><a href='/book/<%= @book %>/repo/<%= r %>'><%= r %></a></li>
	<% end %>
	</ul>
</p>
<p>
	<h2>template variables</h2>
	<ul>
	<% @vars.each do |v| %>
		<li><%= h v %></li>
	<% end %>
	</ul>
</p>
